.tablero{
    margin: auto;
    max-width: 30cm;
    margin-top: 3cm;
}

.casilla{
    height: 100px;
    font-size: 1cm;
    color: lightgray;
    padding: 1rem;
    cursor: pointer;
}
.lleno{
    background-color: lawngreen;
    color: black;
}
.ganador{
background-color: red;
color: black;
}